:host {
    display: block;
    margin: 1rem 0;
}

.button {
    display: block;
    width: 100%;
    margin: 0;
    padding: $pt-button-padding;
    outline: 0;
    border: 0;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    > * {
        padding: 0 0.125rem;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

/* Variants */

.button--primary {
    background: $pt-button-primary-bg;
    color: $pt-button-primary-color;
}

.button--secondary {
    background: $pt-button-secondary-bg;
    color: $pt-button-secondary-color;
}

.button--success {
    background: $pt-button-success-bg;
    color: $pt-button-success-color;
}

.button--warning {
    background: $pt-button-warning-bg;
    color: $pt-button-warning-color;
}

.button--danger {
    background: $pt-button-danger-bg;
    color: $pt-button-danger-color;
}

/* Size */

.button--sm {
    padding: $pt-button-padding-sm;
}

.button--lg {
    padding: $pt-button-padding-lg;
}