* {
    -webkit-font-smoothing: antialiased;
}
html,
body {
    margin: 0;
    font: 400 16px/1.5 sans-serif;
}

:root {
    /* Colors */
    --pt-white: #fff;
    --pt-primary-color: #1864ab;
    --pt-secondary-color: var(--pt-white);
    --pt-success-color: #2b8a3e;
    --pt-warning-color: #d9480f;
    --pt-danger-color: #c92a2a;

    --pt-button-primary-bg: var(--pt-primary-color);
    --pt-button-primary-color: var(--pt-white);
    --pt-button-secondary-bg: var(--pt-white);
    --pt-button-secondary-color: var(--pt-primary-color);
    --pt-button-success-bg: var(--pt-success-color);
    --pt-button-success-color: var(--pt-white);
    --pt-button-warning-bg: var(--pt-warning-color);
    --pt-button-warning-color: var(--pt-white);
    --pt-button-danger-bg: var(--pt-danger-color);
    --pt-button-danger-color: var(--pt-white);

    /* Space */
    --pt-button-padding: 0.75rem 1rem;
    --pt-button-padding-sm: 0.5rem 0.75rem;
    --pt-button-padding-lg: 1rem 1.5rem;

    --pt-card-padding: 1rem;
}