@import 'opencolor';

/* Space */
$pt-space-y: 1em 0 1rem;
$pt-space-x: 0 1rem;
$pt-button-padding: 0.75rem;
$pt-button-padding-sm: 0.5rem;
$pt-button-padding-lg: 1rem;

/* Colors */
$pt-white: #fff;
$pt-primary-color: $oc-blue-9;
$pt-secondary-color: $pt-white;
$pt-info-color: $oc-blue-9;
$pt-info-color-light: $oc-blue-1;
$pt-success-color: $oc-green-9;
$pt-success-color-light: $oc-green-1;
$pt-warning-color: $oc-orange-9;
$pt-warning-color-light: $oc-orange-1;
$pt-danger-color: $oc-red-9;
$pt-danger-color-light: $oc-red-1;


$pt-button-primary-bg: $oc-blue-9;
$pt-button-primary-color: $pt-white;
$pt-button-secondary-bg: $pt-white;
$pt-button-secondary-color: $pt-primary-color;
$pt-button-success-bg: $pt-success-color;
$pt-button-success-color: $pt-white;
$pt-button-warning-bg: $pt-warning-color;
$pt-button-warning-color: $pt-white;
$pt-button-danger-bg: $pt-danger-color;
$pt-button-danger-color: $pt-white;


$pt-alert-info-bg: $pt-info-color-light;
$pt-alert-info-color: $pt-info-color;
$pt-alert-success-bg: $pt-success-color-light;
$pt-alert-success-color: $pt-success-color;
$pt-alert-warning-bg: $pt-warning-color-light;
$pt-alert-warning-color: $pt-warning-color;
$pt-alert-danger-bg: $pt-danger-color-light;
$pt-alert-danger-color: $pt-danger-color;
