:host {
    display: block;
    margin: 1rem 0;
}

img {
    display: block;
    max-width: 100%;
}

.card {
    position: relative;
    margin: $pt-space-y;
    box-shadow: 0 0 0.25rem rgba(0,0,0,.3);
}

.card__content {
    padding: $pt-space-x;
    overflow: hidden;
}