:host {
    display: block;
    margin: 1rem 0;
}

.alert {
    display: flex;
    overflow: hidden;
    padding: $pt-space-x;
}

.alert__icon {
    flex: 0 0 2rem;

    pt-icon {
        display: block;
        margin: 1em 0;
    }
}

.alert__content {
    flex: 1 1;
}

.alert--info {
    background: $pt-alert-info-bg;
    color: $pt-alert-info-color;
}

.alert--success {
    background: $pt-alert-success-bg;
    color: $pt-alert-success-color;
}

.alert--warning {
    background: $pt-alert-warning-bg;
    color: $pt-alert-warning-color;
}

.alert--danger {
    background: $pt-alert-danger-bg;
    color: $pt-alert-danger-color;
}